h1{
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
    color:rgb(250, 6, 6);
    border:5px dashed white;
    width: 50%;
    padding: 50px;
    text-align: center;
    margin-bottom:200px;

}

p{
    color:rgb(250, 6, 6);
    font-size: 30px;
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  border:5px dashed white;
  width: 50%;
    padding: 50px;
    text-align: center;
    margin-bottom:200px;  


}

body{
    background-color:rgb(0, 2, 128);
    background-image:url(images/dora.jpg);
    background-size: cover;
}
.par1{
    color:black;

}
.par2{
    color:pink;
}